<div class="pageContainer">
  <h2 class="mt-2">Maintaining Form States in Angular</h2>
  <h4 class="mt-2">
    This is a simple example of how to maintain form states in Angular.
  </h4>
  <div class="container description mt-2">
    <p>
      The logic behind this idea is a simple service that holds the state of the
      form when a page destroyed and recreated. The service is injected into the
      component and the form is initialized with the state of the service. When
      the form is destroyed, the state of the form is saved in the service. When
      the form is recreated, the state of the form is initialized with the state
      of the service.
    </p>
    <p>
      please checkout the form-service and the form component to see how it is
      done.
    </p>
  </div>
</div>
